html, body {
  height: 100%;
  width: 100%;
  margin: 0;

  font-family: monospace;
}

body {
  display: grid;
  grid-template-rows: 1fr 10fr;
  grid-template-columns: 1fr 7fr;

  grid-template-areas: 
    "topbar topbar"
    "sidebar main";
}

#topbar {
  grid-area: topbar; 
  background-color: lightslategray;
  padding: 30px;
  font-size: 50px;
}

#sidebar {
  grid-area: sidebar;
  background-color: grey;

  display: flex;
  flex-direction: column;
  padding: 30px;
}

#upcoming, #projectListHeading {
  font-size: 20px;
}

.projectListItem {
  font-size: 15px;
}

#main {
  grid-area: main;
  background-color: lightgray;
  padding: 30px;
}

#mainHeading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#headingTitle {
  font-size: 30px;
}

.subHeading {
  font-size: 20px;
}

.taskListItem {
  font-size: 15px;
}

#upcoming:hover, .projectListItem:hover {
  background-color: lightgray;
}